/* ========================== Component Name ========================== */
$component: .hero;

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

$(component) {
  @apply relative w-full mx-auto;
  
  &__wrap {
    @apply flex justify-center items-center flex-col relative w-full mx-auto py-24 px-12;
  }

  &__copy {
    @apply relative max-w-screen-md mx-auto 
  }
  
  &__title {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &__text {
    text-align: center;
  }

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }

  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
  }

  /* ========================== Modifiers ========================== */

  /* ========================== Breakpoints ========================== */

  @screen sm {
    &__wrap {
      min-height: 70vh;
    }
  }

  @screen md  {

  }

  @screen lg  {

  }

  @screen xl  {
    &__wrap {
      height: 65vh;
      min-height: 700px;
    }
  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

$(component).someClass {
  
  $(component)__wrap {
    
  }
}
